
services:
 php:
   build: .
   container_name: php_gestioneBlog
   ports:
     - "8080:80"
   volumes:
      - ./src:/var/www/html
   depends_on:
     - mysql
 mysql:
  image: mysql:latest
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: gestioneBlog
    MYSQL_USER: user
    MYSQL_PASSWORD: abd123
  volumes:
    - mysql_data:/var/lib/mysql
  ports:
    - "3306:3306"
 phpmyadmin:
  image: phpmyadmin/phpmyadmin
  container_name: phpmyadmin_gestioneBlog
  environment:
    PMA_HOST: mysql
    MYSQL_ROOT_PASSWORD: root
  ports:
    - "8081:80"
  depends_on:
    - mysql
volumes:
 mysql_data: