
services:
 php:
   build: .
   container_name: php_gestioneBlog
   ports:
     - "8080:80"
   volumes:
      - ./src:/var/www/html
   depends_on:
     - mysql
 mysql:
  image: mysql:latest
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_DATABASE: gestioneBlog
    MYSQL_USER: user
    MYSQL_PASSWORD: abd123
  volumes:
    - mysql_data:/var/lib/mysql
  ports:
    - "3306:3306"
 
volumes:
 mysql_data: